*.log
*.xml
*.db
*.sqlite

.HA_VERSION
secrets.yaml
OZW_Log.txt
known_devices.yaml
vibohass_service.json
remote_codes.txt
home-assistant.log*
core
config

.storage/
custom_components/
tts/
www/
themes/
zigbee2mqtt/
esphome/
backups/

blueprints/
deps/
image/

ip_bans.yaml
